cirq==1.1.0
cirq-aqt==1.1.0
cirq-core==1.1.0
cirq-google==1.1.0
cirq-ionq==1.1.0
cirq-pasqal==1.1.0
cirq-rigetti==1.1.0
cirq-web==1.1.0
networkx==2.8.8
projectq==0.8.0
pyquafu==0.3.6
qiskit==0.42.1
qiskit-aer==0.12.0
qiskit-ibmq-provider==0.20.2
qiskit-terra==0.23.3
quimb==1.4.2
qulacs==0.6.0
opt_einsum==3.3.0
autoray==0.6.3

